h1, h2 {
  font-family: sans-serif;
}
.column {
  width: 300px;
  float: left;
  padding: 10px;
  margin: auto;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

.column p {
  font-weight: 100;
}

.centered-image {
  margin: auto;
  height: auto;
  display: block;
  width: 200px;
}

.centered {
  margin: auto;
  width: 70%;
  height: auto;
}
body {
  background-color: black;
  color: white;
}